<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epicalcsubtraction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/02e8d4cf-55c9-4244-ab2b-a5eb594f6d45/resourceGroups/TentaCloud/providers/Microsoft.Web/sites/EpiCalcSubtraction</ResourceId>
    <UserName>$EpiCalcSubtraction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://epicalcsubtraction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>